* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(103, 185, 21);
}
.padre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hijos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px;
  box-shadow: 2px 2px 8px rgb(107, 108, 106);
  width: 600px;
  height: auto;
  padding: 12px;
}
.foto-producto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 320px;
  box-shadow: 2px 2px 2px #090909;
  transition: 0.5s;
}
.foto-producto:hover {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 320px;
  box-shadow: 2px 2px 2px #151515;
  transform: scale(1.4);
  transition: 0.5s;
}

.bici {
  width: 120px;
  height: 100px;
  border-radius: 8px;
}

.precio {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(27, 7, 156);
  font-weight: bold;
  font-size: 12px;
}

.bicicleta {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(41, 19, 184);
  font-weight: bold;
  font-size: 16px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 12px;
}

.resultado {
  display: flex;
  justify-content: center;
  color: green;
}

.oculto {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
}

.activo {
  max-height: 2000px;
  opacity: 1;
  transition: max-height 2s ease, opacity 2s ease;
}

h4 {
  cursor: pointer;
  user-select: none;
}

.carrusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 480px;
  position: relative;
  overflow: hidden;
}

.gif {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
}

.carrito {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  margin-top: auto;
  width: 100%;
  height: 60px;
}

.foto-marca {
  width: 160px;
  height: 60px;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}

#contador-carrito {
  background-color: green;
  border-radius: 100%;
  color: white;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
}
